:root {
    // colors
    --blue-color: #355070;
    --purple-color: #6d597a;
    --plum-color: #b56576;
    --peach-color: #e56b6f;
    --melon-color: #eaac8b;

    // container 
    --container-width: 1170px;
    --container-padding: 15px;
}
