.header-hero-bg {
    position: relative;
    background: linear-gradient(#eeba9c66, #f5d5c366);
}

.background {
    &__1sec {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url('../images/sec1.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.05;
    }

    &__3sec {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url('../images/sec3.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.05;
    }
}

.logo {
    width: 19.86vw;
    object-fit: contain;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.73vw;
    max-width: 12.5vw;
    background: linear-gradient(to right, #4499d9, #7367be);

    &__pricing {
        max-width: none;
    }

    &__link {
        display: block;
        padding: 0.9vw 1.4vw;
        color: #fff;
        
        &-pricing {
            padding: 0.9vw 5.1vw;
        }
    }
}

.header {
    &__inner {
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 12vh;

        &-right {
            display: flex;
            gap: 3.8vw;
            align-items: center;
            justify-content: center;
        }
    }

    &__nav {
        display: flex;
        gap: 1.04vw;

        &-item {
            color: var(--purple-color);
        }
    }
}
