<section class="aboutxbox">
    <div class="container">
        <div class="background__3sec"></div>
        <div class="aboutxbox__inner">
            <div class="aboutxbox__inner-left">
                <div class="aboutxbox__inner-left-arrows">
                    <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                    <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                    <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                </div>
                <div class="hero__inner-left-subtitle heading-h5">About XBOX, PS</div>
                <div class="hero__inner-left-title heading-h2">The New Xbox, Ps Series</div>
                <div class="hero__inner-left-descr text-p-normal">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                    that it has a more-or-less normal distribution of letters as opposed.
                </div>
                <div class="button text-p-normal">
                    <a href="#" class="button__link">Get Started Now</a>
                </div>
            </div>
            <div class="aboutxbox__inner-right">
                <img
                    src="../../assets/images/gamepad.svg"
                    alt="gamepad"
                    class="aboutxbox__inner-right-main"
                />
                <img
                    src="../../assets/images/gearsmall.svg"
                    alt="gamepad"
                    class="aboutxbox__inner-right-gearsmall"
                />
                <img
                    src="../../assets/images/gearbig.svg"
                    alt="gamepad"
                    class="aboutxbox__inner-right-gearbig"
                />
            </div>
        </div>
    </div>
</section>
