<section class="aboutvr">
    <div class="container">
        <div class="aboutvr__inner">
            <div class="aboutvr__inner-bg">
                <div class="aboutvr__inner-bg-arrows">
                    <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                    <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                    <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                </div>
                <img src="../../assets/images/VR-text.svg" alt="" class="aboutvr__inner-bg-vr" />
                <img
                    src="../../assets/images/boyfromsec2.svg"
                    alt=""
                    class="aboutvr__inner-bg-boy"
                />
            </div>
            <img src="../../assets/images/aboutVR.svg" alt="" class="aboutvr__inner-img" />
            <div class="aboutvr__inner-info">
                <div class="hero__inner-left-subtitle heading-h5">About VR Glasses</div>
                <div class="hero__inner-left-title heading-h2">The New VR Glasses Series</div>
                <div class="hero__inner-left-descr text-p-normal">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                    that it has a more-or-less normal distribution of letters as opposed.
                </div>
                <div class="button">
                    <a href="#" class="button__link">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
