<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <img src="../../assets/images/cross-dotted.svg" alt="" class="hero__inner-crossdot">
            <img src="../../assets/images/cross.svg" alt="" class="hero__inner-cross">
            <img src="../../assets/images/dots-hero.svg" alt="" class="hero__inner-dots">
            <div class="hero__inner-left">
                <div class="hero__inner-left-containerforarrows">
                    <div class="hero__inner-left-subtitle heading-h5">Gaming Consoles</div>
                    <div class="hero__inner-left-subtitle-arrows">
                        <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                        <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                        <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                    </div>
                    <div class="hero__inner-left-subtitle-arrows">
                        <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                        <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                        <img src="../../assets/images/hero_arrow.svg" alt="arrow" />
                    </div>
                </div>
                <div class="hero__inner-left-title heading-h2">
                    Try It, Rent It,
                    <div class="hero__inner-left-title--black"> Save $50!</div>
                </div>
                <div class="hero__inner-left-descr text-p-normal">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                    that it has a more-or-less normal distribution of letters as opposed.
                </div>
                <div class="button text-p-normal">
                    <a href="#" class="button__link">Get Started Now</a>
                </div>
            </div>
            <div class="hero__inner-right">
                <img
                    src="../../assets/images/Consoles.svg"
                    alt="VR Gamer"
                    class="hero__inner-right-img"
                />
                <div class="hero__inner-right-banner hero__inner-right-banner-first">
                    <div class="hero__inner-right-banner-text text-p-small">
                        <div class="hero__inner-right-banner-name">
                            Sony Dualshock 4 Wireless Controller
                        </div>
                        <div class="hero__inner-right-banner-price">$50 Per Hour</div>
                        <div class="hero__inner-right-banner-rate">
                            <div class="stars">
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                            </div>
                            <div class="hero__inner-right-banner-rate-descr">125+Review</div>
                        </div>
                    </div>
                    <img
                        src="../../assets/images/VR.svg"
                        alt="VR"
                        class="hero__inner-right-banner-svg"
                    />
                </div>
                <div class="hero__inner-right-banner hero__inner-right-banner-second">
                    <img
                        src="../../assets/images/Controller.svg"
                        alt="Dualshock"
                        class="hero__inner-right-banner-svg"
                    />
                    <div class="hero__inner-right-banner-text text-p-small">
                        <div class="hero__inner-right-banner-name">
                            Sony Dualshock 4 Wireless Controller
                        </div>
                        <div class="hero__inner-right-banner-price">$50 Per Hour</div>
                        <div class="hero__inner-right-banner-rate">
                            <div class="stars">
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                                <img
                                    src="../../assets/images/star.svg"
                                    alt="star"
                                    class="hero__inner-right-banner-rate-star"
                                />
                            </div>
                            <div class="hero__inner-right-banner-rate-descr">125+Review</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
